$soft-black: #1B1F27;
$soft-dark: #181920;

$primary: #4371FC;
$bg-button: #5568FE;

$white-normal: #FFF;
$white-dark: #edeaef;
$white-light: #fefbff;

$info-normal: #39BFEF;


$warning-normal: #FFF549;


$danger-normal: #FF4F23;


$sucess-normal: #3EBC48;

